<form [formGroup]="filterForm">
  <div class="grid">
    <ng-container *ngIf="isEditMode">
      <div class="col-2">
        <b>{{'ui.filter.name' | translate }}</b>
      </div>
      <div class="col-10">
        <input pInputText type="text"
               [formControlName]="'filterName'"/>
      </div>
    </ng-container>
    <div class="col-2">
      <b>{{'ui.criteria' | translate}}</b>
    </div>
    <div class="col-10">
      <div *ngFor="let _ of criteriaList.controls; let i = index" class="grid">
        <div class="col-11">
          <criteria-row [criteriaForm]="getCriteriaForm(i)"
                        [conditions]="getPossibleConditions()"
                        [editMode]="isEditMode">
          </criteria-row>
        </div>
        <div *ngIf="isEditMode" class="col-1">
          <p-button styleClass="action-button" icon="pi pi-minus" (click)="removeCriteriaRow(i)" />
        </div>
      </div>
    </div>
    <div *ngIf="isEditMode" class="col-12 flex justify-content-center">
      <p-button label="Add row" icon="pi pi-plus" (click)="addCriteriaRow()" />
    </div>
    <div class="col-2">
      <b>{{'ui.selection' | translate}}</b>
    </div>
    <div class="col-10" *ngIf="isEditMode">
      <radio-button-group [selected]="filter?.selection"
                          [selectionControl]="getSelectionControl"/>
    </div>
    <div class="col-10" *ngIf="!isEditMode">
      <input pInputText type="text" readonly
             [value]="getSelectionControl.value?.title"/>
    </div>
  </div>
</form>
