<p-dialog [header]="filter?.name || 'Filter'"
          [modal]="true"
          [draggable]="false"
          [(visible)]="display"
          (onHide)="closeModal()"
          [style]="{ maxWidth: '50rem', maxHeight: '30rem' }">
  <ng-container *ngTemplateOutlet="body"></ng-container>
  <ng-template pTemplate="footer">
    <div *ngIf="isEditMode" >
      <p-button styleClass="secondary-button" label="Close" (onClick)="closeModal()" />
      <p-button styleClass="success-button" label="Save" (onClick)="closeModal()" />
    </div>
    <div *ngIf="!isEditMode" class="flex justify-content-start gap-2">
      <p-button styleClass="secondary-button" label="Edit" (onClick)="onEditMode(true)" />
    </div>
  </ng-template>
</p-dialog>
