<p-dialog *ngIf="filter"
          [header]="filter.name"
          [modal]="true"
          [draggable]="false"
          [(visible)]="display"
          (onHide)="closeModal()"
          [style]="{ minWidth: '50rem', minHeight: '30rem' }">
  <ng-container *ngTemplateOutlet="body"></ng-container>
  <ng-template pTemplate="footer">
    <p-button styleClass="secondary-button" label="Close" (onClick)="closeModal()" />
    <p-button styleClass="success-button" label="Save" (onClick)="closeModal()" />
  </ng-template>
</p-dialog>
