<form [formGroup]="criteriaForm">
  <div class="grid">
    <div *ngIf="editMode" class="col-4">
      <p-dropdown
        [options]="criteriaTypes"
        [formControlName]="'selectedType'"
        [optionLabel]="'title'"
        [placeholder]="getFormControlByName('selectedType').value!.title"/>
    </div>
    <div *ngIf="editMode" class="col-4">
      <p-dropdown [style]="{ width: 'auto' }"
                  [options]="currentConditions"
                  [formControlName]="'selectedCondition'"
                  [optionLabel]="'title'"
                  [placeholder]="getFormControlByName('selectedCondition').value!.title"/>
    </div>
    <div *ngIf="editMode" class="col-4" [ngSwitch]="getFormControlByName('selectedType').value!.type">
      <div *ngSwitchCase="'AMOUNT'">
        <ng-container *ngTemplateOutlet="criteriaAmount"></ng-container>
      </div>
      <div *ngSwitchCase="'TITLE'">
        <ng-container *ngTemplateOutlet="criteriaTitle"></ng-container>
      </div>
      <div *ngSwitchCase="'DATE'">
        <ng-container *ngTemplateOutlet="criteriaDate"></ng-container>
      </div>
    </div>
    <ng-container *ngIf="!editMode">
      <div class="col-4">
        <input pInputText readonly
               type="text"
               [value]="getFormControlByName('selectedType').value!.title" />
      </div>
      <div class="col-4">
        <input pInputText readonly
               type="text"
               [value]="getFormControlByName('selectedCondition').value!.title" />
      </div>
      <div class="col-4">
        <input pInputText readonly
               type="text"
               [value]="getFormControlByName('selectedValue').value | datePipe " />
      </div>
    </ng-container>
  </div>
</form>

<ng-template #criteriaAmount [formGroup]="criteriaForm">
  <number-input [control]="getFormControlByName('selectedValue')"/>
</ng-template>

<ng-template #criteriaTitle [formGroup]="criteriaForm">
  <input pInputText [formControlName]="'selectedValue'"/>
</ng-template>

<ng-template #criteriaDate [formGroup]="criteriaForm">
  <date-picker [control]="getFormControlByName('selectedValue')"/>
</ng-template>
