<div class="grid">
  <div class="col-12">
    <div class="text-center">
      <h2>Filters Collection</h2>
    </div>
  </div>
  <div class="col-2"></div>
  <div class="col-8">
    <data-table [dataList]="filters"
                [properties]="properties"
                (dataRowSelected)="onFilterSelected($event)">
    </data-table>
  </div>
  <div class="col-2"></div>
  <div class="col-2"></div>
  <div class="col-8">
    <p-button label="Add Filter" (click)="onAddFilterClicked()"/>
  </div>
  <div class="col-2"></div>
</div>
<modal-dialog [body]="modalContent"
              [filter]="selectedFilter"
              [(displayModal)]="displayFilterModal"
              [(editMode)]="isEditMode">
</modal-dialog>

<ng-template #modalContent>
  <filter-content [isEditMode]="isEditMode"
                      [filter]="selectedFilter"
                      [selections]="filterOptions.selections"
                      [criteriaConditions]="filterOptions.criteriaConditions"/>
</ng-template>
