@import "../../../node_modules/primeng/resources/themes/soho-light/theme.css";
@import "../../../node_modules/primeng/resources/primeng.min.css";
@import "../../../node_modules/primeflex/primeflex.css";
@import "primeicons/primeicons.css";

:root {
  --text-color: #4a31ae;
  --primary-background-color: #b8b7f5;
  --extra-color: #f4d68a;
  --text-color-secondary: #f4f4f5;
  --text-color-secondary-darker: #c7c7c7;
  --primary-color: #4a31ae;
  --primary-color-dark: #2b1781;
  --primary-color-text: #ffffff;
}

body, html {
  font-size: 150%;
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}

body {
  margin: 20px 50px;
  background-color: var(--primary-background-color);
  color: var(--text-color) !important;
}

.page-container {
  max-height: calc(100vh - 100px);
  overflow: auto;
}

.align-right {
  float: right;
}

.ng-invalid {
  border-width: 3px;
}

.p-error {
  font-size: smaller;
}

.error-container {
  padding-top: 0;
}

.p-dialog-header .p-button {
  background: transparent;
}

.p-dialog-header .p-button:hover {
  background: transparent;
  border-color: var(--focus-ring)
}

.p-button {
  background-color: var(--primary-color);
  border-color: var(--primary-color-dark)
}

.p-button:hover {
  background-color: var(--primary-color-dark);
}

.action-button {
  background-color: var(--extra-color);
  border: none
}

.action-button:hover {
  background-color: #ccae6c;
  border: none
}

.secondary-button {
  background-color: var(--text-color-secondary-darker);
  border-color: var(--text-color-secondary-darker)
}

.secondary-button:hover {
  background-color: var(--extra-color);
  border-color: transparent;
}

.success-button {
  background-color: var(--green-500);
  border-color: transparent
}

.danger-button {
  background-color: var(--red-500);
  border-color: transparent
}

.success-button:hover {
  background-color: var(--green-700);
  border-color: transparent;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--extra-color);
}

p-dropdown {
  display: grid;
}

.p-dropdown .p-dropdown-label.p-placeholder {
  color: #043d75;
}

.p-dialog-resizable {
  resize: vertical;
}

.p-dialog .p-resizable-handle {
  cursor: row-resize;
}

.p-dialog {
  max-height: 50vw;
  min-width: 20vw;
  overflow: hidden;
}

.p-dialog .p-dialog-content {
  max-height: 60vw;
  min-width: 20vw;
  overflow: auto;
}

p-calendar {
  display: grid;
}

.p-card.p-card-component {
  border-radius: 0 !important;
}

.p-radiobutton-label.ng-star-inserted.p-disabled {
  color: black;
}

.secondary-text {
  color: var(--text-color-secondary)
}

.icon-only .p-button {
  background-color: transparent;
  border: none;
}
